{% extends "base.html" %}


{% block menu_index %}
    <a class="navbar-brand" href="/">The Cat Gallery</a>
{% endblock %}

{% block menu_log %}
    <a class="nav-link active" aria-current="page" href="/login">Log in</a>
{% endblock %}

{% block menu_upload %}
<a class="nav-link" href="/upload">Upload</a>
{% endblock %}

{% block menu_about %}
<a class="nav-link" href="/about">About Me</a>
{% endblock %}

{% block content %}
    <h1 id="upload-unlogged">You have to be logged in!</h1>
{% endblock %}